.news-content{
	.wrapper{
		background-color:$grey;
		padding: 2em 4em;
		h2{
			div,span{text-transform:uppercase}
			.subtitle{
				color:$red;
			}
		}
		.footer{
			border-top: 2px solid #fff;
    	height: 6em;
    	.next,.prev{
    		line-height: 5;
    		text-transform: uppercase;
    	}
		}
	}
}
