.service-content{
	.wrapper{
		background-color:$grey;
		padding: 2em 4em;
		h2{
			text-transform: uppercase;
		}
		.panel-group{
			margin-left: -4em;
			margin-right: -4em;
			.panel.panel-default{
				border-radius: 0;
				border: 0;
		    box-shadow: none;
		    border-bottom: 3px solid #fff;
		    & + .panel{
		    	margin-top: 0;
		    }
			  .panel-heading{
			  	padding:0;
			    .panel-title{
			    	a{
			    		display: inline-block;
			    		height: 100%;
			    		width: 100%;
			    		padding: 1em 4em;
			    		color:$red;
			    		text-transform: uppercase;
			    		text-decoration: none;
			    		font-size: 1.6em;
    					font-weight: 300;
			    		&:after{
			    				content:"V";
			    			}
			    		&[aria-expanded="true"]{
			    			background-color: #fff;
			    			border:0;
			    			&:after{
			    				content:"X";
									position: absolute;
									right: 50px;
			    			}
			    		}
			    	}
			    }
			  }
			  .panel-collapse{
			  	.panel-body{
			  		border:0;
			  	}
			  }
			}
		}
	}
}