.service-content{
	.wrapper{
		background-color:$grey;
		padding: 2em 4em;
		h2{
			text-transform: uppercase;
		}
		.panel-group{
			margin-left: -4em;
			margin-right: -4em;
			.panel.panel-default{
				border-radius: 0;
				border: 0;
		    box-shadow: none;
		    border-bottom: 3px solid #fff;
		   	&:first-child{
		   		border-top: 3px solid #fff;
		   	}
		    & + .panel{
		    	margin-top: 0;
		    }
			  .panel-heading{
			  	padding:0;
			    .panel-title{
			    	a{
			    		display: inline-block;
			    		height: 100%;
			    		width: 100%;
			    		padding: 20px 40px;
			    		color:$red;
			    		text-transform: uppercase;
			    		text-decoration: none;
			    		font-size: 1.6em;
    					font-weight: 300;
    					position:relative;
			    		&:after{
			    				content: "\e259";
			    				position: relative;
							    top: 1px;
							    display: inline-block;
							    font-family: 'Glyphicons Halflings';
							    font-style: normal;
							    font-weight: 400;
							    line-height: 1;
							    -webkit-font-smoothing: antialiased;
							    -moz-osx-font-smoothing: grayscale;
								font-size: .8em;
			    			}
			    		&[aria-expanded="true"]{
			    			background-color: #fff;
			    			border:0;
			    			&:after{
							    content: "X";
							    position: absolute;
							    right: 29px;
							    top: 18px;
							    font-family: "Gotham";
							    line-height: 1;
							    font-size: 1em;
							    font-weight: 300;
			    			}
			    		}
			    	}
			    }
			  }
			  .panel-collapse{
			  	.panel-body{
			  		border:0;
			  		padding: 40px;
			  	}
			  }
			}
		}
	}
}