[pbHeadContent]
<include src="atom/head.html" title="Home | PRA04439"></include>
[/pbHeadContent]
<div class="jumbotron" style=' background-image: url("{skinfolder}/assets/images/INDUSTRIAL_SLIDE.jpg");'>
	<include src="organism/navbar.html" logo="{skinfolder}/assets/images/logo.png" extraClasses="" extraClassesNav="container">
	</include>
	<include src="molecule/social-bar.html"  ></include>
<include src="organism/jumbo-menu.html" ></include>
</div>
 <pre class="col-lg-12">[pbAdvPageSummary StartPage="main-menu" IncludeFolders="True"]
            [ItemTemplate]
              [Item.Name]
            [/ItemTemplate]
        [/pbAdvPageSummary]</pre>
[pbTemplate]

<!-- FOOTER -->
<div id="footer">
	<include src="organism/footer.html" brand="Surge Media">
	
	</include>
</div>
<include src="atom/foot.html" ></include>