[pbHeadContent]
<include src="atom/head.html" title="Home | PRA04439"></include>
[/pbHeadContent]

<div class="jumbotron" style=' background-image: url("/Site/DefaultSite/Skins/render/assets/images/INDUSTRIAL_SLIDE.jpg");'>
	<include src="organism/navbar.html" logo="/Site/DefaultSite/Skins/render/assets/images/logo.png" extraClasses="" extraClassesNav="container">
	</include>
	<include src="molecule/social-bar.html"  ></include>
	<include src="organism/jumbo-menu.html" ></include>
</div>

[pbTemplate]

<!-- FOOTER -->
<div id="footer">
	<include src="organism/footer.html" brand="Surge Media">
	
	</include>
</div>
<include src="atom/foot.html" ></include>