[pbHeadContent]
<include src="atom/head.html" title="Home | PRA04439"></include>
[/pbHeadContent]
<div class="jumbotron small" style=' background-image: url([pbImage ImageName='Hero' Visible='True' FilenameOnly='True']);'>
	<include src="organism/navbar.html" logo="{skinfolder}/assets/images/logo.png" extraClasses="" extraClassesNav="container"></include>
	<include src="molecule/social-bar.html" ></include>

	<div class="container-fluid custom-margin">
		<div id="page-menu" class="col-lg-">
			<h2>[Item.ParentName]</h2>
			<div class="button-group">
			
			</div>
		</div>
	</div>
</div>

<div class="container-fluid custom-margin">
	[pbBreadcrumb IncludeCategories="True"]
</div>

<include src="molecule/sidebar-categories.html" 
							 collection="7ed168f3-f122-4cce-ab2d-5e83d2220df2">
			</include>


[pbTemplate]

<!-- FOOTER -->

	<include src="organism/footer.html" brand="Surge Media">
	
	</include>
<include src="atom/foot.html" ></include>