[pbHeadContent]
<include src="atom/head.html" title="Home | PRA04439"></include>
[/pbHeadContent]
<div class="jumbotron smaller" style=' background-image: url([pbImage ImageName='Hero' Visible='True' FilenameOnly='True']);'>
	<include src="organism/navbar.html" logo="{skinfolder}/assets/images/logo.png" extraClasses="" extraClassesNav="container"></include>
	<include src="molecule/social-bar.html" ></include>

	<div class="container-fluid custom-margin">
		<div id="page-menu" class="col-lg-">
			<h2>News</h2>
			<div class="button-group">
			
			</div>
		</div>
	</div>
</div>

<div class="container-fluid custom-margin">
	[pbBreadcrumb IncludeCategories="True"]
</div>

<div class="container-fluid custom-margin">


	[pbTemplate]
</div>
<!-- FOOTER -->

<include src="organism/footer.html" brand="Surge Media"></include>

<include src="atom/foot.html" ></include>