[pbHeadContent]
<include src="atom/head.html" title="Home | PRA04439"></include>
[/pbHeadContent]
<div class="jumbotron small" style=' background-image: url("{skinfolder}/assets/images/ABOUT_US_BANNER.jpg");'>
<include src="organism/navbar.html" logo="{skinfolder}/assets/images/logo.png" extraClasses="" extraClassesNav="container"></include>
<include src="molecule/social-bar.html" ></include>


<div id="page-menu" class="col-lg-">
	<h2>Services</h2>
	<div class="button-group">
		Services
		[pbAdvCategory Collection="da6feeac-f673-4bf7-b1d7-3c94c195c573" Sort="SortOrder"]
			[ItemTemplate]
				<a class="h3-button" href="[Item.PageUrl]">[Item.Name]</a>
			[/ItemTemplate]
		[/pbAdvCategory]
		<a class="h3-button active" href="">Who We Are</a>
		<a class="h3-button" href="">Our Company</a>
		<a class="h3-button" href="">Our People</a>
		<a class="h3-button" href="">Careers</a>
		<a class="h3-button" href="">Contact Us</a>
	</div>
</div>

</div>
[pbBreadcrumb IncludeCategories="True"]
[pbTemplate]

<!-- FOOTER -->
<div id="footer">
	<include src="organism/footer.html" brand="Surge Media">
	
	</include>
</div>
<include src="atom/foot.html" ></include>