[pbHeadContent]
<include src="atom/head.html" title="Home | PRA04439"></include>
[/pbHeadContent]
<div class="jumbotron small" style=' background-image: url("/assets/images/ABOUT_US_BANNER.jpg");'>
<include src="organism/navbar.html" logo="/assets/images/logo.png" extraClasses="" extraClassesNav="container"></include>
<include src="molecule/social-bar.html" ></include>



<div id="page-menu" class="col-lg-">
	<h2>[Item.Name]</h2>
	<div class="button-group">
		<!--About us-->
		[pbAdvCollection Sort="SortOrder" Mode="Page"]
			[ItemTemplate]
				<a class="h3-button" href="">[Item.Name]</a>
			[/ItemTemplate]
		[/pbAdvCollection ]
		<!-- <a class="h3-button active" href="">Who We Are</a>
		<a class="h3-button" href="">Our Company</a>
		<a class="h3-button" href="">Our People</a>
		<a class="h3-button" href="">Careers</a>
		<a class="h3-button" href="">Contact Us</a> -->
	</div>
</div>

</div>
[pbTemplate]

<!-- FOOTER -->
<div id="footer">
	<include src="organism/footer.html" brand="Surge Media">
	
	</include>
</div>
<include src="atom/foot.html" ></include>