<main class="container-fluid">
	<section class="col-md-12">
		<p class="leading">
			<strong>Practical Engineering</strong> is a Brisbane based mechanical engineering consultancy specialising in machine design, certification, structural analysis, manufacture and project management across a number of heavy industry sectors.
		</p>
	</section>
</main>
<div class="container-fluid">

[pbAdvCollection Collection="1a2d11db-6965-42d8-b028-a6ac01b6182f" Sort="SortOrder" Mode="Page"]
	[ItemTemplate]
		<include src="molecule/card.html" 
						 class="red col-md-4" 
						 img="https://unsplash.it/616/200?image=20" 
						 title="[Item.Name]"
						 linkpage="[Item.PageUrl]"  >
						
			[Item.Summary]
		</include>
	[/ItemTemplate]
[/pbAdvCollection ]


<!-- <include src="molecule/card.html" class="red col-md-4" img="https://unsplash.it/616/200?image=20" title="Design & Construct"  >

Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ at. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</include>
<include src="molecule/card.html" class="grey col-md-4" img="https://unsplash.it/616/200?image=25" title="Design & Construct"  >
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ at. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</include>
<include src="molecule/card.html" class="dark col-md-4" img="https://unsplash.it/616/200?image=30" title="Design & Construct"  >
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ at. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</include> -->

<div id="bottom-card">
	<include src="molecule/card-icon.html" title="Project" icon="pe-icon-projects"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
	<include src="molecule/card-icon.html" title="About Us" icon="pe-icon-about"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
	<include src="molecule/card-video.html" title="Creative Thinking. Practical Solutions" icon="pe-icon-play" img="{skinfolder}/assets/images/VIDEO_TILE.jpg" >
		
	</include>
	<include src="molecule/card-icon.html" title="News" icon="pe-icon-news"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
</div>
</div>