
<main class="container-fluid">
	<section class="col-md-12">
		<p class="leading">
			<strong>Practical Engineering</strong> is a Brisbane based mechanical engineering consultancy specialising in machine design, certification, structural analysis, manufacture and project management across a number of heavy industry sectors.
		</p>
	</section>
</main>
<div class="container-fluid">





<div id="bottom-card">
	<include src="molecule/card-icon.html" title="Project" icon="pe-icon-projects"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
	<include src="molecule/card-icon.html" title="About Us" icon="pe-icon-about"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
	<include src="molecule/card-video.html" title="Creative Thinking. Practical Solutions" icon="pe-icon-play" img="{skinfolder}/assets/images/VIDEO_TILE.jpg" >
		
	</include>
	<include src="molecule/card-icon.html" title="News" icon="pe-icon-news"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
</div>
</div>