
<main class="container-fluid">
	<section class="col-md-12">
		<p class="leading">
			<strong>Practical Engineering</strong> is a Brisbane based mechanical engineering consultancy specialising in machine design, certification, structural analysis, manufacture and project management across a number of heavy industry sectors.
		</p>
	</section>
</main>
<div class="container-fluid">


		<include src="molecule/card.html" 
						 class="red col-md-4" 
						 img="[pbImage ImageName='Red Box Image' StripHtml='' Visible='True' ]" 
						 title="[pbContent RegionName='Red Box Title' StripHtml='' Visible='True' ]"
						 linkpage="[pbContent RegionName='Red Box Url' StripHtml='True' Visible='True' ]">
						
			[pbContent RegionName="RedBox Content" StripHtml="" Visible="True" ] 
			
		</include>

		<include src="molecule/card.html" 
						 class="grey col-md-4" 
						 img="[pbImage ImageName='Light Box Image' StripHtml='' Visible='True' ]" 
						 title="[pbContent RegionName='Light Box Title' StripHtml='' Visible='True' ]"
						 linkpage="[pbContent RegionName='Light Box Url' StripHtml='True' Visible='True' ]">
						
			[pbContent RegionName="Light Box Content" StripHtml="" Visible="True" ] 
			
		</include>

		<include src="molecule/card.html" 
						 class="dark col-md-4" 
						 img="[pbImage ImageName='Dark Box Image' StripHtml='' Visible='True' ]" 
						 title="[pbContent RegionName='Dark Box Title' StripHtml='' Visible='True' ]"
						 linkpage="[pbContent RegionName='Dark Box Url' StripHtml='True' Visible='True' ]">
						
			[pbContent RegionName="Dark Box Content" StripHtml="" Visible="True" ] 
			
		</include>



<div id="bottom-card">
	<include src="molecule/card-icon.html" title="Project" icon="pe-icon-projects"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
	<include src="molecule/card-icon.html" title="About Us" icon="pe-icon-about"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
	<include src="molecule/card-video.html" title="Creative Thinking. Practical Solutions" icon="pe-icon-play" img="{skinfolder}/assets/images/VIDEO_TILE.jpg" >
		
	</include>
	<include src="molecule/card-icon.html" title="News" icon="pe-icon-news"  >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</include>
</div>
</div>