<main id="content" class="">

[pbAdvCollection Collection="366b993a-1488-4515-9d5b-f98b9cc4a645" Sort="SortOrder"]
			[FirstItemTemplate]
				<include src="molecule/card-people.html" 
								 class="col-md-3 dark pull-left" 
								 img="[pbImage ImageName='Photo' FilenameOnly='true']" 
								 title="[Item.Name]" 
								 subtitle="[pbContent RegionName='Position' StripHtml='True']"  
								 link="[Item.PageUrl]">
						[Item.Summary]
				</include>
			[/FirstItemTemplate]
			[ItemTemplate]
			[/ItemTemplate]
		[/pbAdvCollection]

	<section class="custom-padding col-md-9">
	<h2>Who We are</h2>
		[pbContent RegionName="Content" StripHtml="False"]
		
	
	</section>



</main>

