



<main id="content" class="container-fluid custom-margin">
<ol class="breadcrumb ">
  <li><a href="#">Practical Engineering</a></li>
  <li><a href="#">About Us</a></li>
  <li class="active">Who We Are</li>
</ol>
<include src="molecule/card-people.html" class="col-md-3 dark pull-left" img="/assets/images/ROD_TAIT_410x350.jpg" title="Rod Tait" subtitle="Director"  >
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ...
</include>

	<section class="custom-padding col-md-9">
	<h2>Who We are</h2>
		<p class="">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis veritatis debitis, laborum aliquam quam delectus, ipsam cumque nemo sit odio libero exercitationem iusto consectetur. Velit dignissimos esse, officiis animi quos!
		</p>
		<p>
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi molestias amet velit veniam voluptates quod cumque iusto odio! In neque optio eum, esse facere laborum vero mollitia, deserunt laboriosam.
		</p>
		<p>
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi molestias amet velit veniam voluptates quod cumque iusto odio! In neque optio eum, esse facere laborum vero mollitia, deserunt laboriosam.
		</p>
	</section>
</main>


