<include src="atom/head.html" title="Home | PRA04439"></include>
<div class="jumbotron small" style=' background-image: url("/assets/images/ABOUT_US_BANNER.jpg");'>
<include src="organism/navbar.html" logo="/assets/images/logo.png" extraClasses="" extraClassesNav="container"></include>
<include src="molecule/social-bar.html" ></include>



<div id="page-menu" class="col-lg-">
	<h2>About Us</h2>
	<div class="button-group">
		<a class="h3-button active" href="">Who We Are</a>
		<a class="h3-button" href="">Our Company</a>
		<a class="h3-button" href="">Our People</a>
		<a class="h3-button" href="">Careers</a>
		<a class="h3-button" href="">Contact Us</a>
	</div>
</div>

</div>

<main id="content" class="container-fluid custom-margin">
<ol class="breadcrumb ">
  <li><a href="#">Practical Engineering</a></li>
  <li><a href="#">About Us</a></li>
  <li class="active">Who We Are</li>
</ol>
<include src="molecule/card-people.html" class="col-md-3 dark pull-left" img="/assets/images/ROD_TAIT_410x350.jpg" title="Rod Tait" subtitle="Director"  >
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ...
</include>

	<section class="custom-padding col-md-9">
	<h2>Who We are</h2>
		<p class="">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis veritatis debitis, laborum aliquam quam delectus, ipsam cumque nemo sit odio libero exercitationem iusto consectetur. Velit dignissimos esse, officiis animi quos!
		</p>
		<p>
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi molestias amet velit veniam voluptates quod cumque iusto odio! In neque optio eum, esse facere laborum vero mollitia, deserunt laboriosam.
		</p>
		<p>
			
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi molestias amet velit veniam voluptates quod cumque iusto odio! In neque optio eum, esse facere laborum vero mollitia, deserunt laboriosam.
		</p>
	</section>
</main>
<!-- FOOTER -->
<div id="footer">
<include src="organism/footer.html" brand="Surge Media">
		
</include>
</div>
<include src="atom/foot.html" ></include>

