<!DOCTYPE html>
<html class=" -class ">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <title>Home | PRA04439 | Surge Media</title>

		<!-- Bootstrap CSS -->
		<link href="/skin.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/2.0.3/js/bootstrap-submenu.js"></script>
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
<div class="jumbotron" style=' background-image: url("/assets/images/INDUSTRIAL_SLIDE.jpg");'>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://bootswatch.com/default/#">
       <img src="/assets/images/logo.png" alt="Pracitcal Engineering"></a>
    </div>

    <div class="collapse navbar-collapse col-md-6 pull-right" id="main-nav">
     
      <form id="search" class="navbar-form navbar-right col-md-4" role="search">
        <div  class="form-group">
          <input type="text" class="form-contro l" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </form>
     <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-submenu >About Us</span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Who We Are</a></li>
                  <li><a href="#">Our Company</a></li>
                    <li> 
                       <a href="#" class="dropdown-toggle" data-submenu="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our People</a>
                      <ul class="dropdown-menu">
                      <li><a href="#">Our people single cheesecake</a></li>  
                    </ul>
                  </li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </li>

        <li><a href="#">Industries</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">News</a></li>
        <li class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</span></a>
         <ul class="dropdown-menu">
                  <li><a href="#">Who We Are</a></li>
                  <li><a href="#">Our Company</a></li>
                    <li> 
                       <a href="#" class="dropdown-toggle" data-submenu="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our People</a>
                      <ul class="dropdown-menu">
                      <li><a href="#">Our people single</a></li>  
                    </ul>
                  </li>
                  <li><a href="#">Careers</a></li>
                </ul>
                </li>

     </ul>
    </div>
  </div>
</nav>
<div id="social-bar">
	<a href="#"><i class="pe-icon-email"></i></a>
	<a href="#"><i class="pe-icon-telephone"></i></a>
	<a href="#"><i class="pe-icon-map"></i></a>
	<a href="#"><i class="pe-icon-youtube"></i></a>
	<a href="#"><i class="pe-icon-linkedin"></i></a>
</div>
	<div id="jumbo-menu" class="container-fluid">
		<section class="col-md-4">
				
					<div class="collapse" id="UtilitiesHide">
					<span>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident voluptas optio iure nulla, 
		</span>

						<a class="" href="#">Manufacturing</a>
						<a class="" href="#">Process Equipment</a>
					</div>
					<a role="button" data-toggle="collapse" href="#UtilitiesHide" aria-expanded="false" >Utilities &amp; Infrastructure</a>
				</section>
		<section class="col-md-4">
				
					<div class="collapse" id="EnergyHide">
					<span>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident voluptas optio iure nulla, 
		</span>

						<a class="" href="#">Manufacturing</a>
						<a class="" href="#">Process Equipment</a>
					</div>
					<a role="button" data-toggle="collapse" href="#EnergyHide" aria-expanded="false" >Energy &amp; Resources</a>
				</section>
		<section class="col-md-4">
				
					<div class="collapse" id="IndustrialHide">
					<span>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident voluptas optio iure nulla, 
		</span>

						<a class="" href="#">Manufacturing</a>
						<a class="" href="#">Process Equipment</a>
					</div>
					<a role="button" data-toggle="collapse" href="#IndustrialHide" aria-expanded="false" >Industrial</a>
				</section>

	</div>

</div>

<main class="container-fluid">
	<section class="col-md-12">
		<p class="leading">
			<strong>Practical Engineering</strong> is a Brisbane based mechanical engineering consultancy specialising in machine design, certification, structural analysis, manufacture and project management across a number of heavy industry sectors.
		</p>
	</section>
</main>
<div class="container-fluid">
<article class="card img red ">
	<img class="img-responsive" src="https://unsplash.it/616/200?image=20" alt="">
	<div class="textbox">
	<h1>Design & Construct</h1>
	<p>
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ at. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
	<a href="">Read More</a>
	</div>
</article>
<article class="card img grey ">
	<img class="img-responsive" src="https://unsplash.it/616/200?image=25" alt="">
	<div class="textbox">
	<h1>Design & Construct</h1>
	<p>
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ at. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
	<a href="">Read More</a>
	</div>
</article>
<article class="card img dark ">
	<img class="img-responsive" src="https://unsplash.it/616/200?image=30" alt="">
	<div class="textbox">
	<h1>Design & Construct</h1>
	<p>
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ at. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
	<a href="">Read More</a>
	</div>
</article>

<div id="bottom-card">
	<div class="card icon col-md-3 col-sm-2">
	<div class="textbox">
		<header>
			<h3><i class="pe-icon-projects"></i><span>Project</span></h3>
		</header>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</p>
		<a href="">Read More</a>
		</div>
	</div>
	<div class="card icon col-md-3 col-sm-2">
	<div class="textbox">
		<header>
			<h3><i class="pe-icon-about"></i><span>About Us</span></h3>
		</header>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</p>
		<a href="">Read More</a>
		</div>
	</div>
	<article class="card video col-lg-3 col-md-6 col-sm-6"  style=' background-image: url("/assets/images/VIDEO_TILE.jpg");'>
		<div class="textbox">
		<a href="">
		<i class="pe-icon-play"></i>
		<h4>Creative Thinking. Practical Solutions</h4></a>
		</div>
	</article>
	<div class="card icon col-md-3 col-sm-2">
	<div class="textbox">
		<header>
			<h3><i class="pe-icon-news"></i><span>News</span></h3>
		</header>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	</p>
		<a href="">Read More</a>
		</div>
	</div>
</div>
</div>

<!-- FOOTER -->
<div id="footer">
<div id="footer">
  <div class="container-fluid">
    <div class="col-md-3">
    <span>Home</span>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Link title</a></li>
        <li><a href="">Link title</a></li>
      </ul>
    </div>
    <div class="col-md-3">
    <span>Industries</span>
      <ul>
        <li><a href="">Link title</a></li>
        <li><a href="">Link title</a></li>
        <li><a href="">Link title</a></li>
      </ul>
    </div>
    <div class="col-md-3">
    <span>Services</span>
      <ul>
        <li><a href="">Link title</a></li>
        <li><a href="">Link title</a></li>
        <li><a href="">Link title</a></li>
      </ul>
    </div>
    <div class="col-md-3">
    <span>News</span>
      <ul>
        <li><a href="">Link title</a></li>
        <li><a href="">Link title</a></li>
        <li><a href="">Link title</a></li>
      </ul>
    </div>
  </div>
  <div  class="container-fluid">
      <div id="subscribe" class="col-md-offset-4 col-md-4">
          <p>Subscribe here to receive our newsletter</p>
          <div class="form-group">
            <input type="text" class="" placeholder="Your Email">
            <button class="btn red">Subscribe</button>
          </div>
      </div>
      <div class="col-md-offset-2 col-md-8">
        <a href="#" class="col-md-4">2016 Copy Right Practical Engineering</a>
        <a href="#" class="col-md-4">1 Colebard St E, Acacia Ridge QLD 4110</a>
        <a href="#" class="col-md-4">Telephone (07) 3875 2133</a>
      </div>
  </div>
</div>
</div>
		<script src="/assets/js/main.js"></script>
	</body>	
</html>

