<main id="content" class="contact-us">
	<section class="detail col-xs-12 col-lg-6">
		<h1>Contact Details</h1>
		<p>Practical Engineering Australia Pty Ltd</p>
		<div class="col-lg-12">
			<div class="col-lg-12">
				<p><strong><i class="pe-icon-email"></i>Email</strong></p>
				<a href="mailto:[pbContent RegionName="Email" StripHtml="True" Visible="True" ]">[pbContent RegionName="Email" StripHtml="True" Visible="True"]</a>
			</div>
			<div class="col-sm-6">
				<p><strong><i class="pe-icon-telephone"></i>Phone</strong></p>
				<a class="strip" href="tel:[pbContent RegionName="Phone" StripHtml="True" Visible="True" ]">[pbContent RegionName="Phone" StripHtml="True" Visible="True" ]</a>
			</div>
			<div class="col-sm-6">
				<p><strong><i class="pe-icon-fax"></i>Fax</strong></p>
				[pbContent RegionName="Fax" StripHtml="False" Visible="True" ]
			</div>
			<div class="col-sm-6">
				<p><strong><i class="pe-icon-map"></i>Address</strong></p>
				[pbContent RegionName="Address" StripHtml="False" Visible="True" ]
			</div>
			<div class="col-sm-6">
				<p><strong><i class="pe-icon-postal"></i>Postal</strong></p>
				[pbContent RegionName="Postal" StripHtml="False" Visible="True" ]
			</div>
		</div>
	</section>

	<section class="form col-xs-12 col-lg-6">
		<div class="header">
			<h2>CONTACT FORM</h2>
			<p>[pbContent RegionName="Message Form" StripHtml="True" Visible="True" ]</p>
		</div>
		[pbForm] 
	</section>
	<section class="map">
		[pbContent RegionName="Map" StripHtml="False" Visible="True" ] 
	</section>
</main>


[pbContent RegionName="Googlemap Link" StripHtml='True' Visible='False']
[pbContent RegionName="Youtube Link" StripHtml='True' Visible='False']
[pbContent RegionName="Linkedin Link" StripHtml='True' Visible='False']
