#page_layout_pbSiteMenu1_Menu1{
	width: 100%;
  position: absolute;
  float: right;
  bottom: 0;
  .rmHorizontal{
  	width: 100%;
    float: none;
    >.rmItem{
    	>.rmLink{
    		width: 100%;
		    display: inline-block;
		    text-align: center;
		    padding:.5em 0;
		    line-height: 20px;
		    &:hover{
					color: $red;
		    	text-decoration: none;
		    	&:after{
			    	content: "";
				    background: $red;
				    height: 5px;
				    width: 100%;
				    position: absolute;
				    left: 0;
				    bottom: -5px;
				  }
		    }
    		.rmText{
    			float:none;
    			padding:0;
    		}
    	}
    	.rmSlide{
    		width: 100% !important;
    		.rmVertical{
    			width: 100%;
    			.rmItem{
    				width: 100%;
    				display: block;
    				.rmLink{
							.rmText{
								padding: 0;
							}
    				}
    			}
    		}
    	}
    }
  }
}

.navbar-default {
	background-color:$dark;
	color:#fff;
	border:0px;
	border-radius:0px;
	// padding:0em 0em;
	padding:0em 15em 0em 5em;
	margin: 0 7em;
	border-bottom:5px solid $blue;
	display:block;
	#main-nav {
		width: 60%;
		display:inline-block !important;
		height: 140px !important;
    	position: relative;
	}
	.navbar-brand {
	    display: block;
	    height: auto;
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    padding:0.7em 0 0.5em 0;
	}
	.nav {
		float:right;
		clear:both;
		display:block;
	    width: 100%;
	    position: absolute;
    	bottom: 0px;
	    li {
	    	a {
	    		color:#fff;

	    		&:focus,
			    .active,
			    &:hover {
	    			color:$red;
	    			content:"";
	    			&::after {
	    				content:"";
	    				border-bottom:5px solid $red;
	    				    width: 100%;
						    display: block;
						    position: absolute;
						    left: 0px;
						    top: 100%;
						    z-index:999;
	    			}
	    		}
	    	}
	    }
	}
	#search {
		$searh-height:4em;
		min-width:34em;
		height:$searh-height;
		background-color:#fff;
		padding:0px;
		margin: 4.3em 0 2em 0;
		.form-group {
			width:85%;
			position:relative;
			height: 100%;
		}
		input {
			border:0px;
			border-radius:0px;
			margin: 0;
			position: absolute;
			width: 95%;
			height: 100%;
			top:0px;
			left:5%;
			font-size: 1.4em;
			color:$blue-dark;
		}
		button {
			font-size:2.2em;
			height: auto;
		margin: 0.1em 0 0 0;
		border:0px;
		border-radius:0px;
		line-height:1em;
		float:right;
		}
	}
	li{
		width: 20%;
		display:inline-block;
		text-align: center;
		a {
			padding:0.5em 2em;
			font-size:1.2em;
			border-right:1px solid $blue;
			text-transform: uppercase;
			color:#fff ;


		}
	}
	.navbar-default .navbar-nav > .open > a {
				background:transparent;
				border:0px;
				color:$red;
				// &::after {
				// 	display:none !important;
	}

	.dropdown-menu {
				margin-top: 0em !important;
				background:transparent;
				border:0px;
				box-shadow:none;
				font-size: 1em;
				width:100%;
				li {
					   position: relative;
    				   width: 100%;
					a {

						color:#fff;
						background:rgba($blue-dark,0.8);
						border-right:0px;
						border-bottom:2px solid #fff;

						padding: 1em;
						&:focus,
						.active,
						&:hover {
							background:rgba(#fff,0.8);
							border:0px;
							color:$red;
						}
						&::after {
							display:none !important;
						}
					}
				}
				.dropdown-menu {
						    position: absolute;
							    padding: 0px;
							    top: 0px;
							        padding: 0px;
							    top: 0px;
							    width: auto;
							    margin: 0px !important;
							    left: 100%;
					    a {
					      max-width: 16em;
						  padding: 1em;
						  border-bottom: 2px solid #fff;
						  width: auto !important;
						    white-space: normal;
    					text-align: left;
    					&::after {
							display:none !important;
						}
					    }
				}
			}

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background:transparent;
	color:$red;
	border-color:$blue-dark;
}