#jumbo-menu {
	$min-height: 24em;
	/* margin: 41vh 7em 0 7em; */
	position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
	section {
		padding-right:0px;
		position:relative;
		min-height:$min-height;
		transition:0.3s ease all;
	}
	/* section:nth-child(2) {
		padding-right:0.7em;
		padding-left:0.7em;
	} */
	a {
		&:hover {
			text-decoration: none;
		}
	}

	.h3-button {
		margin-top:15vh;
		width:100%;

	}



	.collapse {
		opacity: 1;
	    position: absolute;
	    top: 3em;
	    margin: 0.6em;
	    font-size: 2em;
	    line-height: 1.4em;
	    font-weight: 300;
	    z-index: 1;
		& + a {
			@extend .h3-button;
			/* margin-top:15vh; */
			transition:0.3s ease all;
			position: absolute;
	    	bottom: 0;
	    	width:96%;
		}
	}
	.collapsing {
		opacity: 0;
		transition:0.3s ease opacity;
		span { opacity: 0; 
		transition:0.3s ease opacity;}
		a { opacity: 0; 
		transition:0.3s ease opacity;}
		& + a {
			@extend .h3-button;
			margin-top:15vh;
			transition:0.3s ease all;
			width:96%;
		}
	}

	a.collapsed {
			
	}
	.collapse.in  {
		opacity: 1;
		transition:0.3s ease opacity;
		span { 
			opacity: 1; 
			transition:0.3s ease opacity;
   	 	margin: 0.4em;
	    display: block;
	    height: 9.5vh;

		}
		a { 
		//red buttons
			opacity: 1; 
			transition:0.3s ease opacity;
			background:$red;
			color:#fff;
	    font-size: 0.9em;
	    text-align: center;
	    margin-right: 0.2em;
	    float: left;
	    padding: 0.6em;
	    display: inline-block;
			&:hover {
				text-decoration: none;
			}
	    & + a {
	    /* 	margin-right: 0em; */
	    }
		}
		& + a {
			margin: 0;
			text-transform: capitalize;
			text-align: left;
			text-decoration: none;
			color:$blue-dark;
			height: $min-height / 3;
			background:rgba(#fff,0.9);
	    transition:0.3s ease all;
	    height: 22.5vh;
	    min-height: 223px;
	    font-weight: 300;
		}
	}
}

#energy-resources{
	a{
		width: 32%;
		float:left;
	}
}

#industrial{
	a{
		width: 45%;
		float: left;
	}
}

#utilities-infrastructure{
	a{
		width: 90%;
	}
}