/*===========================================
=            Bootstrap Variables            =
===========================================*/
$grid-gutter-width: 10px;
[class*='col-']{
	padding-left: 10px;
	padding-right: 10px;
}
[class*='row'] {
    margin-left: -10px;
    margin-right: -10px;
}

/*==============================
=            COLORS            =
==============================*/

$blue-dark: #151f26; //Colour 1
$dark: $blue-dark;
$red: #ce2129; //Colour 2
$grey: #f5f5f5; //Colour 3
$blue: #202b33;  //Colour 4
$white: #fff; //Colour 5



/*=============================
=            Fonts            =
=============================*/
$primary-font: 'Gotham';
$secondary-font: 'Gotham Book';
$primary-font: 'Gotham';
$primary-font: 'Gotham';



