.pbBreadcrumb{
	.list{
		list-style: none;
		li{
			display: inline-block;
			&.separator .label{
				color:#000;
			}
			span{
				font-size: 1em;
				a{
					font-size: inherit;
				}
			}
			&:nth-child(n+2){
				span{
					color:#000;
					a{
						color: inherit;
					}
				}
			}
		}
	}
}