.card-left{
	padding-top: 5em;
	padding-bottom: 5em;
	height: 41.3em;
	i{
		font-size: 6em;
	}
	.tittle{
		font-size: 2.3em;
	}
	.content{
		margin-top: 3em;
	}
	&.red{
		color: #fff;
		background-color: $red;
		ul{
			list-style: none;
			padding: 0;
			li{
				a{
				  color:#fff;

				}
			}
		}
	}


}