.card-left{
	padding-top: 5%;
	padding-bottom: 5%;

	i{
		font-size: 6em;
	  text-align: right;
	}
	.tittle{
		font-size: 2.3em;
	}
	.content{
		margin-top: 1em;
	}
	&.red{
		color: #fff;
		background-color: $red;
		ul{
			list-style: none;
			padding: 0;
			li{
				a{
				  color:#fff;
				  	
				}
			}
		}
	}


}