.card-project{
	
	height: 53em;
	
	
	
	.image{
		height: 35em;
    background-size: cover;
    background-position: center;
    position: relative;
	}
	
	.shade{
		position: absolute;
    bottom: 0;
    height: 9em;
    background: rgba(0,0,0,.5);
    width: 100%;
    padding: 2em;
	  margin-bottom: 0.2em;
	  .subtitle{
			color:#fff;
			font-size: 2.4em;
			line-height: 1;
			padding: 0;
		} 
		.title{
			@extend .subtitle;
			text-transform: uppercase;
			font-weight: bold;

		} 
	}
	.content{
		p{
			height: 6em;
    	overflow: hidden;
    	padding-top: 1.2em;
		}
	}
}