.card-left{
	margin-bottom: 2em;
	min-height: 41.3em;
	i{
		font-size: 6em;
	}
	ul{
		list-style: none;
		padding: 0;
		li{
			margin-bottom: 1em;
			a{
			  color:#fff;

			}
		}
	}
	a{
		text-transform: uppercase;
	}
	.tittle{
		font-size: 2.3em;
		text-transform: uppercase;
	}
	.content{
		margin-top: 3em;
	}
	.wrapper{
		display: inline-block;
	    height: 100%;
	    width: 100%;
	    padding: 10% 6%;
		min-height: 41.3em;
	}
	.red{
		color: #fff;
		background-color: $red;
		
	}
	.grey{
		color: $dark;
		background-color: $grey;
		
	}
}