.card-contact{
	
	height: 41.3em;
	
	
	a{
		text-transform: uppercase;
	}
	.image{
		height: 41.3em;
    display: inline-block;
	}
	.contact{
		
		font-size: .9em;
		ul{
		list-style: none;
		padding: 0;
		li{
			display: inline-block;
			border-right: 1px solid $dark;
			p{
				font-family: $secondary-font;
				font-weight: 900;
			}
			a{

			}
			&:last-child{
				border-right: 0;
			}
		}
	}
	}
	.info{
		display: inline-block;
		h3{
			text-transform: uppercase;
		}
		p{
			height: 17em;
			overflow: hidden;
		}
	}
	.wrapper{
		display: inline-block;
    height: 100%;
    width: 100%;   
	}
	.red{
		color: #fff;
		background-color: $red;
		
	}
	.grey{
		color: $dark;
		background-color: $grey;
	}
}