.headshot {
    width: 50%;
    float: left;
    height: 19em;
    background-size: cover;
    background-position: center;
    a{
    	height: 100%;
	    width: 100%;
	    display: block;
	    color: #fff;
        text-align: center;
        line-height: 8;
    }
}