.pbBasicSearch {
    display: inline-block;
    float: right;
    text-align: right;
    padding-right: 2em;
    .textbox{
    	@extend .form-control;
    }
    .submit{
    	&:before{
    		@extend [class*="pe-icon-"]:before
    		@extend .pe-icon-magnifier:before;
    	}
    }
}