#social-bar {
	background-color:$dark;
	color:#fff;
	position:absolute;
	right:0px;
	top:20vh;
	padding:0em 3.5em;
	overflow:hidden;
	a {
		padding: 0.5em 0em;
		width:100%;
		display: block;
		clear:both;
		font-size:3em;
		color:#fff;
		&:hover {
			color:$red;
		}
	}
}