#social-bar {
	background-color:$dark;
	color:#fff;
	position:fixed;
	right:0px;
	top:35vh;
	padding:0em 3.5em;
	/* overflow:hidden; */
	z-index: 2;
	a {
		padding: 0.5em 0em;
		width:100%;
		display: block;
		clear:both;
		font-size:3em;
		color:#fff;
		&:hover {
			color:$red;
			div{
				
				transition: .3s ease width;
				padding: 1.5em 3em 1.5em 1em;
				
				width:250px;
			}
		}
		div{
			transition: .3s ease width;
			position: absolute;
		    right: 66px;
		    background-color: $dark;
		    font-size: .5em;
		    padding: 1.5em 0;
		    overflow: hidden;
		    width: 0px;
		   
		    span{
		    	width: 180px;
		    	display: block;
		    }
		}
		&.mail{
			div{
				top: 0px;
			}
		}
		&.phone{
			div{
				top: 60px;
			}
		}
	}
}