<div class="container-fluid">


	<include src="molecule/card-left.html" 
					 area="[Item.Name]"
					 groupName="Products"
					 icon="tools"
					 background="red">
	[pbAdvCollection Collection="122cad56-53f9-4b32-98a2-4082d69c4b2a" Mode="RelatedToCategory"]
		[HeaderTemplate]
			<!--Products-->
			<ul>
		[/HeaderTemplate]
		[ItemTemplate]
				<li>
					<a href="[Item.PageUrl]">[Item.Name]</a>
				</li>
		[/ItemTemplate]
		[FooterTemplate]
			</ul>
		[/FooterTemplate]
	[/pbAdvCollection]
	</include>
	
	
	
		[pbAdvCollection Collection="366b993a-1488-4515-9d5b-f98b9cc4a645" Mode="RelatedToCategory" MaxItems="1"]
			[ItemTemplate]
				<include src="molecule/card-contact.html" 
					 name="[Item.Name]"
					 phone="[pbContent RegionName='Phone' StripHtml='True' Visible='True']"
					 email="[pbContent RegionName='Email' StripHtml='True' Visible='True']"
					 info="[pbContent RegionName='Content Item' StripHtml='False' Visible='True']"
					 image="[pbImage ImageName='Photo' Visible='True' FilenameOnly='True']"
					 background="grey">
				</include>	 
			[/ItemTemplate]
		[/pbAdvCollection]

	
	


	<pre class="col-lg-3">
	
	<h2>Menu</h2>
		[pbAdvCategory collection="0db4b566-be31-4d4d-845a-85c210cf711a" ShowInvisible="True" ShowInactive="True" ]
		
			[ItemTemplate]
				[item.name]
				[pbAdvCategory ShowInvisible="True" ShowInactive="True" ]
		
					[ItemTemplate]
						[item.name]
					[/ItemTemplate]
				
				[/pbAdvCategory]
			[/ItemTemplate]
		
		[/pbAdvCategory]
		
	</pre>

	<include src="molecule/card-left.html" 
					 area="[Item.Name]"
					 groupName="News"
					 icon="news"
					 background="grey">
		[pbAdvCollection Collection="news" Mode="RelatedToCategory" MaxItems="1"]
			
			[ItemTemplate]
					
					<p>[Item.Summary] </p>
					
					<a href="[Item.PageUrl]">Read More</a>				
			[/ItemTemplate]
			
		[/pbAdvCollection]
	</include>
		
	<div class="industries-content col-lg-6">
		[pbContent RegionName="Content Category" StripHtml="False" Visible="True" ] 
	</div>
	
	

	<div class="projects">
		

	</div>


	<pre class="col-lg-12">
	<h2>Projects</h2>
		[pbAdvCollection]
			[ItemTemplate]
				[Item.Name]
				[pbContent RegionName="Content" StripHtml="False"]
			[/ItemTemplate]
		[/pbAdvCollection]
	</pre>
	
</div>