<div class="clearfix">


	<include src="molecule/card-left.html" 
					 area="[Item.Name]"
					 groupName="Products"
					 icon="tools"
					 background="red">
	[pbAdvCollection Collection="122cad56-53f9-4b32-98a2-4082d69c4b2a" Mode="RelatedToCategory"]
		[HeaderTemplate]
			<!--Products-->
			<ul>
		[/HeaderTemplate]
		[ItemTemplate]
				<li>
					<a href="[Item.PageUrl]">[Item.Name]</a>
				</li>
		[/ItemTemplate]
		[FooterTemplate]
			</ul>
		[/FooterTemplate]
	[/pbAdvCollection]
	</include>
	
	<pre class="col-lg-6">
	
	<h2>Contact</h2>
		[pbAdvCollection Collection="366b993a-1488-4515-9d5b-f98b9cc4a645" Mode="RelatedToCategory"]
			[ItemTemplate]
				[Item.Name]
			[/ItemTemplate]
		[/pbAdvCollection]

	</pre>

	<pre class="col-lg-3">
	
	<h2>Menu</h2>
		[pbMenu RootPath="industries" IncludeCategories="True"]
	</pre>

	<include src="molecule/card-left.html" 
					 area="[Item.Name]"
					 groupName="News"
					 icon="news"
					 background="grey">
		[pbAdvCollection Collection="news" Mode="RelatedToCategory" MaxItems="1"]
			
			[ItemTemplate]
					
					[Item.Summary]
					
					<a href="[Item.PageUrl]">Read More</a>				
			[/ItemTemplate]
			
		[/pbAdvCollection]
	</include>
	<!-- <pre class="col-lg-3">
	[Item.Name] [Item.ID]
	<h2>News</h2>
		
	      [pbAdvCollection Collection="news" Mode="RelatedToCategory"]
	        [ItemTemplate]
	          [Item.Name]
	        [/ItemTemplate]
			[/pbAdvCollection]
	  
		
	
	</pre> -->
	<pre class="col-lg-12">
	<h2>Projects</h2>
		[pbAdvCollection]
			[ItemTemplate]
				[Item.Name]
				[pbContent RegionName="Content" StripHtml="False"]
			[/ItemTemplate]
		[/pbAdvCollection]
	</pre>
	
</div>