<div class="container-fluid">
    <div id="parent" data-parentId="[Item.ParentId]" class="hidden"></div>
    <div id="child" data-categoryId="[Item.Id]" class="hidden"></div>

	<include src="molecule/card-left.html" 
					 area="[Item.Name]"
					 groupName="Products"
					 icon="tools"
					 background="red">
	[pbAdvCollection Collection="122cad56-53f9-4b32-98a2-4082d69c4b2a" Mode="RelatedToCategory"]
		[HeaderTemplate]
			<!--Products-->
			<ul>
		[/HeaderTemplate]
		[ItemTemplate]
				<li>
					<a href="[Item.PageUrl]">[Item.Name]</a>
				</li>
		[/ItemTemplate]
		[FooterTemplate]
			</ul>
		[/FooterTemplate]
	[/pbAdvCollection]
	</include>
	
	[pbAdvCollection Collection="366b993a-1488-4515-9d5b-f98b9cc4a645" Mode="RelatedToCategory" MaxItems="1"]
		[ItemTemplate]
			<!--We need to get the name of the category for Your %Category% Contact-->
			<include src="molecule/card-contact.html" 
				 name="[Item.Name]"
				 phone="[pbContent RegionName='Phone' StripHtml='True' Visible='True']"
				 email="[pbContent RegionName='Email' StripHtml='True' Visible='True']"
				 info="[pbContent RegionName='Content Item' StripHtml='True' Visible='True']"
				 image="[pbImage ImageName='Photo' Visible='True' FilenameOnly='True' NoImageUrl='/site/defaultsite/filesystem/images/default_player.jpg']"
				 background="grey">
			</include>	 
		[/ItemTemplate]
	[/pbAdvCollection]

	<div class="col-lg-3 sidebar-industries pull-right">
		<div class="wrapper">
			<div id="currentSummary">
        	</div>
			[pbAdvCategory collection="0db4b566-be31-4d4d-845a-85c210cf711a" ShowInvisible="True" ShowInactive="True" ]
				[ItemTemplate]
					<ul data-id="[item.Id]" class="category">
						<li class="summary-block">
						<a data-url="[Item.PageUrl]" role="button" data-toggle="collapse" href="#collapse[Item.Id]" aria-expanded="false" aria-controls="collapse[Item.Id]">
						<h3 class="title">
						[item.name]
</h3>
</a>
						<p class="summary">[item.summary]</p>
						</li>
						<li class="collapse" id="collapse[Item.Id]">
							<ul class="subcategory">
								[pbAdvCategory ShowInvisible="True" ShowInactive="True"]
									[ItemTemplate]
										<li><h3><small><a href="[Item.PageUrl]">[item.name]</a></small></h3></li>
									[/ItemTemplate]
								[/pbAdvCategory]
							</ul>
						</li>
					</ul>
				[/ItemTemplate]
			[/pbAdvCategory]
		</div>
	</div>

	<include src="molecule/card-left.html" 
					 area="[Item.Name]"
					 groupName="News"
					 icon="news"
					 background="grey">
		[pbAdvCollection Collection="news" Mode="RelatedToCategory" MaxItems="1"]
			
			[ItemTemplate]
					
					<p>[Item.Summary] </p>
					
					<a href="[Item.PageUrl]">Read More</a>				
			[/ItemTemplate]
			
		[/pbAdvCollection]
	</include>
		
	<div class="industries-content col-lg-6">
		[pbContent RegionName="Content Category" StripHtml="False" Visible="True" ] 
	</div>

	<div class="col-lg-12 lower-cards">
		<h2>[Item.Name] Projects</h2>

		<div class="row-special">
			[pbAdvCollection MaxItems="4"]
				[ItemTemplate]
					<include src="molecule/card-project.html" 
						 title="[pbContent RegionName='Company Name' StripHtml='True' Visible='True']"
						 subTitle="[Item.Name]"
						 image="[pbImage ImageName='thumbnail' Visible='True' FilenameOnly='True' NoImageUrl='']"
						 link="[Item.PageUrl]"
						 class="col-lg-6">
						 [pbContent RegionName="excerpt" StripHtml="True" Visible="True"] 

					</include>	
				[/ItemTemplate]
			[/pbAdvCollection]
		</div>
	</div>
	
</div>

<include src="organism/modal.html"></include>

<script type="text/javascript">
	var projects={
			
			    	[pbAdvCollection]
				        [ItemTemplate]
				         "[Item.ID]":"[Item.PageUrl]",
				        [/ItemTemplate]
						[LastItemTemplate]
						 "[Item.ID]":"[Item.PageUrl]"
						[/LastItemTemplate]
					[/pbAdvCollection]
			
		};
var parentId = jQuery("#parent").data("parentid");		
if("0db4b566-be31-4d4d-845a-85c210cf711a"==parentId){
	parentId = jQuery("#child").data("categoryid");
}
//get rid of the menu
jQuery('[data-id="'+parentId+'"] ul').remove();
//clone the summary block
var tempSummary = jQuery('[data-id="'+parentId+'"] .summary-block').clone().html();
//delete summary and title block;
jQuery('[data-id="'+parentId+'"] .summary-block').remove();
//delete other summary area
jQuery('#sidebarNav .summary-block .summary').remove();
//appends cloned element to the top
jQuery(tempSummary).appendTo( "#currentSummary" );
jQuery( "#currentSummary h3" ).unwrap();
//removing other summaries
jQuery(".category .summary").remove();		
jQuery(".category .subcategory").each(function(){
	if(!(jQuery(this).has("li").length)){
	  var link = jQuery(this).parent().siblings().find('a');
	  var url = link.data("url");
	  var title = link.find("h3").unwrap();
	  title.wrap("<a href='"+url+"'></a>");
	}
});	
	</script>