<include src="molecule/sidebar-categories.html" 
							 collection="7ed168f3-f122-4cce-ab2d-5e83d2220df2">
			</include>
	<div class="col-lg-8"> 
		<h2>Latest News</h2>
		
	
	    	[pbAdvCollection MaxItems="4" Sort="ArticleDate DESC"]
	        [ItemTemplate]
	          <include src="molecule/card-project.html" 
						 title="[pbContent RegionName='Company Name' StripHtml='True' Visible='True']"
						 subTitle="[Item.Name]"
						 image="[pbImage ImageName='thumbnail' Visible='True' FilenameOnly='True']"
						 link="[Item.PageUrl]"
						 class="">
							[Item.Summary]
						</include>
	        [/ItemTemplate]
			[/pbAdvCollection]
	   
	</div>
</div>