	[pbImage ImageName='Thumbnail' Visible='False' FilenameOnly='True']
	[pbImage ImageName='Hero' Visible='False' FilenameOnly='True']  	


<div class="news-content col-lg-8"> 
	<div class="wrapper">
		<p>[Item.CreatedDateTime]</p>
		<h2>
			<div>[pbContent RegionName="Company Name" StripHtml="True" Visible="True"]</div>
			<span class='subtitle'>
				[Item.Name]
			</span>
		</h2>
		
		[pbContent RegionName="Content" StripHtml="False" Visible="True"] 
		[pbPageNav Mode="Previous" ControlType="Link"]
		[pbPageNav Mode="Next" ControlType="Link"]
	</div>
</div>

<div class="clearfix">
	<div class="col-lg-12"> 
		<h2>
			[pbAdvItemCategorySummary]
	    [ItemTemplate]
	    	[Item.Name] News
	    [/ItemTemplate]
		[/pbAdvItemCategorySummary]
		</h2>
		
		[pbAdvItemCategorySummary]
	    [ItemTemplate]
	    	[pbAdvCollection MaxItems="4"]
	        [ItemTemplate]
	          <include src="molecule/card-project.html" 
						 title="[pbContent RegionName='Company Name' StripHtml='True' Visible='True']"
						 subTitle="[Item.Name]"
						 image="[pbImage ImageName='thumbnail' Visible='True' FilenameOnly='True']"
						 link="[Item.PageUrl]">
							[Item.Summary]
						</include>
	        [/ItemTemplate]
				[/pbAdvCollection]
	    [/ItemTemplate]
		[/pbAdvItemCategorySummary]
	</div>
</div>