	[pbImage ImageName='Thumbnail' Visible='False' FilenameOnly='True']
	[pbImage ImageName='Hero' Visible='False' FilenameOnly='True']  	


<div class="news-content col-lg-8"> 
	<div class="wrapper">
		[Item.CreatedDate]
		<h2>
			[pbContent RegionName="Company Name" StripHtml="True" Visible="False"]
			<span class='subtitle'>
				[Item.Name]
			</span>
		</h2>
		
		[pbContent RegionName="Content" StripHtml="False" Visible="True"] 
		
	</div>
</div>
<pre class="col-lg-8">
	[Item.Summary]
	
	[pbContent RegionName="Content" StripHtml="False" Visible="True"] 
	<!--Inserts an editable content region that is managed in the console with a WYSIWYG editor. All pbContent tags must have a region name specified-->
</pre>

<div class="clearfix">
	<div class="col-lg-12"> 
		<h2>
			[pbAdvItemCategorySummary]
	    [ItemTemplate]
	    	[Item.Name] News
	    [/ItemTemplate]
		[/pbAdvItemCategorySummary]
		</h2>
		
		[pbAdvItemCategorySummary]
	    [ItemTemplate]
	    	[pbAdvCollection MaxItems="4"]
	        [ItemTemplate]
	          <include src="molecule/card-project.html" 
						 title="[pbContent RegionName='Company Name' StripHtml='True' Visible='True']"
						 subTitle="[Item.Name]"
						 image="[pbImage ImageName='thumbnail' Visible='True' FilenameOnly='True']"
						 link="[Item.PageUrl]">
						 [pbContent RegionName="excerpt" StripHtml="True" Visible="True"] 
						</include>
	        [/ItemTemplate]
				[/pbAdvCollection]
	    [/ItemTemplate]
		[/pbAdvItemCategorySummary]
	</div>
</div>