	[pbImage ImageName='Thumbnail' Visible='True' FilenameOnly='True']
	[pbImage ImageName='Hero' Visible='True' FilenameOnly='True']  	



<pre class="col-lg-8">
	[Item.Summary]

	[pbContent RegionName="Content" StripHtml="" Visible="True"] 
	<!--Inserts an editable content region that is managed in the console with a WYSIWYG editor. All pbContent tags must have a region name specified-->
</pre>


<pre class="col-lg-12">
	<!--pbAdvCollection - Lists items within any collection using an unordered list. By default it will list items from the current collection but you can override this by specifying a Collection property | pbAdvBasicSearchResults - Lists items similar to pbAdvCollection, required to list results from a pbAdvBasicSearch | pbAdvCategory - Lists items within any category, simmilar to the pbAdvCollection-->
	Item Category News

	[pbAdvCategory Collection="news"]
    [ItemTemplate]
      [pbAdvCollection Category="{thisobject.ID}” ]
        [ItemTemplate]
          [Item.Name]
        [/ItemTemplate]
			[/pbAdvCollection]
    [/ItemTemplate]
	[/pbAdvCategory]
	

</pre>
