<pre>
	<!-- Our People -->
	[pbAdvCollection Collection="366b993a-1488-4515-9d5b-f98b9cc4a645" Sort="SortOrder"]
		[HeaderTemplate]
		[/HeaderTemplate]
	
		[FirstItemTemplate]
		[/FirstItemTemplate]
	
		[ItemTemplate]
			[Item.Name]
		[/ItemTemplate]
	
		[AlternatingItemTemplate]
		[/AlternatingItemTemplate]
	
		[LastItemTemplate]
		[/LastItemTemplate]
	
		[LastAlternatingItemTemplate]
		[/LastAlternatingItemTemplate]
	
		[SeparatorTemplate]
		[/SeparatorTemplate]
	
		[FooterTemplate]
		[/FooterTemplate]
	
		[NoDataTemplate]
		[/NoDataTemplate]
	[/pbAdvCollection]
	 
	
</pre>