<pre class="col-lg-3">
	director
</pre>

<pre class="col-lg-6">
	Content Our People
	[pbContent RegionName="Content" Visible="True" StripHtml="True"] 
</pre>

<pre class="col-lg-3">
	[pbAdvCollection Collection="366b993a-1488-4515-9d5b-f98b9cc4a645" Sort="SortOrder"]
	<!-- Our People -->

		[ItemTemplate]
			[Item.Name]
			[Item.Summary]
			[pbImage ImageName='Photo' FilenameOnly='true'] 
			[pbContent RegionName="Content Item" StripHtml="True"] 
		[/ItemTemplate]
	[/pbAdvCollection]
	 
	
</pre>

