
    [pbAdvCollection Collection="122cad56-53f9-4b32-98a2-4082d69c4b2a" ]
			[ItemTemplate]
			 [Item.Name]
			 	<!--pbAdvCollection - Lists items within any collection using an unordered list. By default it will list items from the current collection but you can override this by specifying a Collection property | pbAdvBasicSearchResults - Lists items similar to pbAdvCollection, required to list results from a pbAdvBasicSearch | pbAdvCategory - Lists items within any category, simmilar to the pbAdvCollection-->
			 	
			 	[pbAdvCollection Mode="RelatedCategories" ]
			 		 	
			 		[ItemTemplate]
			 			[Item.ParentName]
			 		[/ItemTemplate]
			 	
			 		
			 	[/pbAdvCollection ]
			 	
			 	
			[/ItemTemplate]
			[LastItemTemplate]
				{"name":"[Item.Name]", 
				 	"id":"[Item.Name]",
				 	"pageUrl":"[Item.PageUrl]",
				 	"content":"Content"}
			[/LastItemTemplate]
		[/pbAdvCollection ]
