<div class="clearfix">
	
	<div class="services-sidebar col-lg-4">
		<div class="wrapper">
			<ul>
			[pbAdvCategory Category="{ThisObject.ParentID}" Sort="SortOrder" ShowInvisible="True"]
				[ItemTemplate]
					<li>
						<a href="[Item.PageUrl]">[Item.Name]</a>
					</li>	
				[/ItemTemplate]
			[/pbAdvCategory]
			</ul>
		</div>
		
	</div>
	
	<div class="service-content col-lg-8"> 
		<div class="wrapper">
			<h2>[Item.Name]</h2>
			[pbContent RegionName="Content" StripHtml="False" Visible="True"] 
						
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				[pbAdvCollection]
					
					[ItemTemplate]
						<div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="heading[Item.Id]">
					      <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse[Item.ID]" aria-expanded="false" aria-controls="collapse[Item.ID]">
					          [Item.Name]
					        </a>
					      </h4>
					    </div>
					    <div id="collapse[Item.ID]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading[Item.ID]">
					      <div class="panel-body">
					        [pbContent RegionName="Content" StripHtml="False" Visible="True"] 
					      </div>
					    </div>
					  </div>

						
					[/ItemTemplate]
				
				[/pbAdvCollection]
			</div>
		</div>
	</div>
	
	<div class="col-lg-12"> 
		<h2>[Item.Name] Projects</h2>
		
		[pbAdvCollection Mode="RelatedToCategory" MaxItems="4"]
			
			[ItemTemplate]
				<include src="molecule/card-project.html" 
						 title="[pbContent RegionName='Company Name' StripHtml='True' Visible='True']"
						 subTitle="[Item.Name]"
						 image="[pbImage ImageName='thumbnail' Visible='True' FilenameOnly='True']"
						 link="[Item.PageUrl]">
						 [pbContent RegionName="excerpt" StripHtml="True" Visible="True"] 
					</include>
			[/ItemTemplate]
		
		[/pbAdvCollection]
	</div>
</div>

  
  
  
